@model Vehicle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicles</title>
</head>
<body>
    <p>This is the Vehicle Index page!</p>
</body>
</html>
