@model BolindersBil.Models.VehiclesSearchViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />


    <title>Home</title>
</head>
<body>

    <style>

        .img-fluid {
            height: 100px;
            width: 70%;
        }
    </style>


    <p>In the Index View</p>
    <div class="container-fluid">


        @*Detta är search men behövs kontrollera efter vi är klara med vehicles view*@
        <form asp-controller="Vehicle" asp-action="Search" method="post">
            <input name="searchString" class="col-md-3" placeholder="T.ex. Volvo (C30)" />
            <button type="submit">Sök</button>
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="Used" value="false">New Car<br>
                </div>
                <div class="input-group-text">
                    <input type="radio" name="Used" value="true">Used Car<br>
                </div>
            </div>
        </form>


        



        <div class="row">



            @*Search form*@
            @*<form asp-action="GetVehicles" method="get">
                <div id="SearchBar">
                    <div class="input-group mb-3" style="margin: 2em">
                        <div class="input-group-prepend">
                            <input type="text" class="form-control" placeholder="T.ex. Volvo (C30)">
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input type="search" class="btn btn-light" value="Sök" style="margin: 2em" />
                    </div>
                </div>
            </form>*@

        </div>



        <div class="container">

            <div class="row" style="">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkT">
                        <img alt="AltText" src="~/Logo/Saab-logo-2013-2000x450.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Porsche-logo-2008-1920x1080.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img src="~/Logo/BMW-logo-2000-2048x2048.png" alt="AltText" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Renault-logo-2015-2048x2048.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>



        <div class="container">

            <div class="row" style="">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkT">
                        <img alt="AltText" src="~/Logo/Mini-logo-2001-1920x1080.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Nissan-logo-2013-1440x900.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img src="~/Logo/Opel-logo-2009-1920x1080.png" alt="AltText" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Volvo-logo-2014-1920x1080.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>





        @*Newsfeed*@
        <div class="col">

            @{



                var newsApiClient = new NewsApiClient("8a9c9b8aa9bb4c01ab3ea332452176af");
                var articleResponse = newsApiClient.GetEverything(new EverythingRequest
                {
                    Q = "Car",
                    SortBy = SortBys.PublishedAt,
                    Language = Languages.EN,
                    Sources = { "the-new-york-times" }

                });

                if (articleResponse.Status == Statuses.Ok)
                {
                    foreach (var article in articleResponse.Articles.Take(3))
                    {

                        <div class="card-group col-9" style="margin: 1em;">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">
                                        @article.Title
                                    </h5>
                                </div>
                                <div class="card-body">

                                    <i class="card-text">
                                        @SubStringCut.ShortenString(article.Description, 40)<a>... </a><u><a target="_blank" href="@article.Url">Läs mer</a></u>
                                    </i>

                                </div>
                                <div class="card-footer">
                                    @article.PublishedAt?.ToString("dd/MM/yyyy")
                                </div>
                            </div>
                        </div>

                    }

                }
                else
                {
                    <strong>Statusen är inte OK</strong>
                }
            }
        </div>

    </div>



</body>
</html>



