
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>In the Index View</p>

    

    @{
                    var newsApiClient = new NewsApiClient("8a9c9b8aa9bb4c01ab3ea332452176af");
                    var articleResponse = newsApiClient.GetEverything(new EverythingRequest
                    {
                        Q = "Car",
                        SortBy = SortBys.Popularity,
                        Language = Languages.EN,
                        Sources = { "the-new-york-times" }

                    });
                    var theResults = articleResponse.TotalResults;
                    theResults = 5;
                    
                    if (articleResponse.Status == Statuses.Ok)
                    {
                        foreach (var article in articleResponse.Articles)
                        {

                            

                    @*<div class="card-group" style="width: 20rem;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @article.Title
                                </h5>
                                <i class="card-text">
                                    @article.Description
                                </i>
                            </div>
                        </div>
                    </div>*@

            }

        }
        else
        {
            <strong>Statusen är inte OK</strong>
        }
    }


</body>
</html>
