
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>In the Index View</p>

    <form name="searchForm">
        <div class="input-group">
            <input type="search" />
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <label>Used</label>
                    <input type="radio" name="Used" />
                </div>
                <div class="input-group-text">
                    <label>New</label>
                    <input type="radio" name="Used" />
                </div>
            </div>
            <input type="submit" class="btn btn-light" value="Sök" />
        </div>
    </form>

    @{
        var newsApiClient = new NewsApiClient("8a9c9b8aa9bb4c01ab3ea332452176af");
        var articleResponse = newsApiClient.GetEverything(new EverythingRequest
        {
            Q = "Apple",
            SortBy = SortBys.Popularity,
            Language = Languages.EN,
            From = new DateTime(2018, 8, 20)
        });
        if (articleResponse.Status == Statuses.Ok)
        {
           
            foreach (var article in articleResponse.Articles)
            {
                <p>
                    <strong>Title:</strong><br />
                    @article.Title                    
                </p>
                <i>
                    @article.Description
                </i>
            }

        }
        else
        {
            <p>Statusen är inte OK</p>
        }
    }


</body>
</html>
