@model BolindersBil.Models.VehiclesSearchViewModel

<<<<<<< HEAD
<div class="container-fluid" style="margin-top:100px;">
    <div class="row">
        <div class="col-lg-8">
            @*Detta är search men behövs kontrollera efter vi är klara med vehicles view*@
            <form asp-controller="Vehicle" asp-action="Search" method="post">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!-- End of col -->
                                <div class="col">
                                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="T.ex. Volvo (C30)">
                                </div>
                                <!-- End of col -->
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success float-lg-right" type="submit">Search</button>
                                </div>
                                <!-- End of col -->
                            </div>
                        </div>
                    </div>
=======
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />


    <title>Home</title>
</head>
<body>

    <style>

        .img-fluid {
            height: 100px;
            width: 70%;
        }
    </style>


    <p>In the Index View</p>
    <div class="container-fluid">


        @*Detta är search men behövs kontrollera efter vi är klara med vehicles view*@
        <form asp-controller="Vehicle" asp-action="Search" method="post">
            <input name="searchString" class="col-md-3" placeholder="T.ex. Volvo (C30)" />
            <button type="submit">Sök</button>
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="Used" value="false">New Car<br>
                </div>
                <div class="input-group-text">
                    <input type="radio" name="Used" value="true">Used Car<br>
                </div>
            </div>
        </form>


        <div class="container">

            <div class="row" style="">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkT">
                        <img alt="AltText" src="~/Logo/Saab-logo-2013-2000x450.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Porsche-logo-2008-1920x1080.png" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img src="~/Logo/BMW-logo-2000-2048x2048.png" alt="AltText" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkToImage">
                        <img alt="AltText" src="~/Logo/Renault-logo-2015-2048x2048.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>


        @*More logos*@
        <div class="container">

            <div class="row" style="">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="LinkT">
                        <img alt="AltText" src="~/Logo/Mini-logo-2001-1920x1080.png" class="img-fluid">
                    </a>
>>>>>>> 72c7c2fdf31adf2a912eacbf29007c91e930385b
                </div>
                <!-- Buttons New/Used: -->
                <div class="col-lg-12">
                    <div class="input-group-prepend justify-content-center">
                        <div class="input-group-text" style="margin:10px">
                            <input type="radio" name="Used">New Car<br>
                        </div>
                        <div class="input-group-text" style="margin:10px">
                            <input type="radio" name="Used">Used Car<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top:50px;">
                    <!-- Skapa en tabelel för loggor i databasen, gör en foreach och presentera loggorna här: -->
                    <div class="container justify-content-center">
                        <div class="row" style="">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkT">
                                    <img alt="AltText" src="~/Logo/Saab-logo-2013-2000x450.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img alt="AltText" src="~/Logo/Porsche-logo-2008-1920x1080.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img src="~/Logo/BMW-logo-2000-2048x2048.png" alt="AltText" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img alt="AltText" src="~/Logo/Renault-logo-2015-2048x2048.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top:50px;">
                    <!-- Skapa en tabelel för loggor i databasen, gör en foreach och presentera loggorna här: -->
                    <div class="container justify-content-center">
                        <div class="row" style="">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkT">
                                    <img alt="AltText" src="~/Logo/Mini-logo-2001-1920x1080.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img alt="AltText" src="~/Logo/Nissan-logo-2013-1440x900.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img src="~/Logo/Opel-logo-2009-1920x1080.png" alt="AltText" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="LinkToImage">
                                    <img alt="AltText" src="~/Logo/Volvo-logo-2014-1920x1080.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            @{

                var newsApiClient = new NewsApiClient("8a9c9b8aa9bb4c01ab3ea332452176af");
                var articleResponse = newsApiClient.GetEverything(new EverythingRequest
                {
                    Q = "Car",
                    SortBy = SortBys.PublishedAt,
                    Language = Languages.EN,
                    Sources = { "the-new-york-times" }

                });

                if (articleResponse.Status == Statuses.Ok)
                {
                    foreach (var article in articleResponse.Articles.Take(3))
                    {
                        <div class="card-group col-9" style="margin: 1em;">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">
                                        @article.Title
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <i class="card-text">
                                        @SubStringCut.ShortenString(article.Description, 40)<a>... </a><u><a target="_blank" href="@article.Url">Läs mer</a></u>
                                    </i>
                                </div>
                                <div class="card-footer">
                                    @article.PublishedAt?.ToString("dd/MM/yyyy")
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <strong>Statusen är inte OK</strong>
                }
            }
        </div>
    </div>
</div>





