
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>In the Index View</p>

    <form name="searchForm">
        <div class="input-group">
            <input type="search" />
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <label>Used</label>
                    <input type="radio" />
                </div>
                <div class="input-group-text">
                    <label>New</label>
                    <input type="radio" />
                </div>
            </div>
            <input type="submit" class="btn btn-light" value="Sök" />
        </div>
    </form>

    @{
        var newsApiClient = new NewsApiClient("f9e4c9f7922b44828a235c984e930a3a");
        var articleResponse = newsApiClient.GetEverything(new EverythingRequest
        {
            Q = "Car",
            SortBy = SortBys.Popularity,
            Language = Languages.EN,
            From = new DateTime(2018, 8, 20)
        });
        if (articleResponse.Status == Statuses.Ok)
        {
            app.Run(async (context) =>
            {
                foreach (var article in articleResponse.Articles)
                {
                    await context.Response.WriteAsync(article.Title);
                }

            });
        }
    }


</body>
</html>
