
<h1>TEST VEHICLE ADDED OR UPDATED TO DB!!</h1>

<br />

@if (ViewData["FileResized_100"] != null)
{
    <br />
    <span>Resized 100</span>
    <img src="@ViewData["FileResized_100"]" alt="Uploaded Image" />
    <br />
}
