@model ContactFormViewModel
@{ 
    var test = Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kontakt</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-bottom: 2em; margin-top: 1.5em;">

            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Bolinders bil Jönköping</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Telefonnummer: </strong>123-456 78 90</p>
                        <p class="card-text"><strong>E-mail: </strong>timmie.bark@hotmail.com</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Bolinders bil Värnamo</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Telefonnummer: </strong>098-765 43 21</p>
                        <p class="card-text"><strong>E-mail: </strong>mrthefailman@live.com</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Bolinders bil Göteborg</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Telefonnummer: </strong>Saknar telefonnummer ATM</p>
                        <p class="card-text"><strong>E-mail: </strong>Saknar E-mail ATM</p>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            @*GoogleMaps API*@
            <div class="col-5">
                <div id="Map" style="height: 98%; width: 100%;">
                    
                </div>
            </div>
            
            @*ContactForm*@

            <div class="col-5 offset-1">
                <form asp-action="SendTheMail" method="post" name="mail">
                    <div class="form-group">
                        <label asp-for="Name">*<strong>Namn:</strong></label>
                        <input asp-for="Name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">*<strong>Din E-mail:</strong></label>
                        <input asp-for="Email" class="form-control" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNr"><strong>Telefonnummer:</strong></label>
                        <input asp-for="PhoneNr" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Subject">*<strong>Ämne:</strong></label>
                        <input asp-for="Subject" class="form-control" required />
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Message">*<strong>Vad vill du skriva:</strong></label>
                        <textarea asp-for="Message" class="form-control" required></textarea>
                    </div>

                    <div class="form-group">
                        <label asp-for="Office"><strong>Vilken anläggning vill du nå:</strong></label>
                        <select asp-for="Office" class="form-control">
                            <option selected>- välj -</option>
                            <option>Jönköping</option>
                            <option>Värnamo</option>
                            <option>Göteborg</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Skicka mejl" />
                    </div>
                    
                </form>
            </div>

        </div>

    </div>
    <script src="~/js/MapsApi.js"></script>
    <script async defer 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhSorLtndoX90lRDncEHxwJpa_YSdgjpA&callback=initMap">
    </script>
</body>
</html>
