@model Vehicle

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-12" style="background-color:green; margin-bottom:50px; padding:100px">
            <h1>CAROUSELL</h1>
        </div>
        <div class="col-sm-12" style="background-color:yellow; margin-bottom:20px">
            <h1>BILMÄRKE (DB)</h1>
        </div>
        <div class="col-sm-12" style="background-color:orange; margin-bottom:20px">
            <h1>PRISKALKYL</h1>
        </div>
        <div class="col-sm-12" style="background-color:lightblue; margin-bottom:20px">
            <h1>RELATERADE FORDON</h1>
        </div>
        <div class="col-sm-12" style="background-color:pink; margin-bottom:20px">
            <h1>KONTAKTA SÄLJARE</h1>
        </div>
    </div>
    <div class="float-sm-right" style="margin-bottom:10px">
        <button type="button" class="btn btn-warning" id="bulkDeleteVehicle">Tillbaka</button>
        <button type="button" class="btn btn-info" id="bulkDeleteVehicle">Dela</button>
    </div>
</div>


