<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/site.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#btnUploadFile").on('click', function () {
                var data = new FormData();
                var files = $("#files").get(0).files;
                // Adding the uploaded image content to the form data collection (data variable).
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }
                var ajaxRequest = $.ajax({
                    type: "Post",
                    url: "Account/AddNewVehicle",
                    contentType: false,
                    processData: false,
                    data: data
                });
                ajaxRequest.done(function () { });
            });

        });
    </script>
</body>
</html>
