<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>
<body>

    <partial name="_CookiesConsentPartial" />
    <partial name="NavbarPartialView" />

    <div style="padding: 25px 25px;">
        @RenderBody()
    </div>

    <script src="~/js/site.min.js"></script>
    <script src="~/js/VehicleIndex.js"></script>
</body>
</html>
