@model IEnumerable<Office>

<div class="card-deck">

    @foreach(var o in Model)
    {
        <div class="card">
           <div class="card-header">
               <h5 class="card-title">@o.Name</h5>
           </div>
           <div class="card-body">
               <p class="card-text"><strong>Adress: </strong>@o.Address</p>
               <p class="card-text"><strong>Telefonnummer: </strong><a href="tel:@o.PhoneNumber">@o.PhoneNumber</a></p>
               <p class="card-text"><strong>E-mail: </strong><a href="mailto:@o.Email">@o.Email</a></p>
           </div>
        </div>
    }
</div>