@model Vehicle

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin - AddNewVehicle";
}

<i>AddNewVehicleForm</i>
<hr />

<div>
    <form asp-action="AddNewVehicle" method="post" class="form-horizontal">

        <div class="form-group">
            <label asp-for="Brand" class="control-label col-sm-2">Bilmärke:</label>
            <div class="col-sm-10">
                <input asp-for="Brand" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Model" class="control-label col-sm-2">Modell:</label>
            <div class="col-sm-10">
                <input asp-for="Model" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RegNr" class="control-label col-sm-2">Registreringsnummer:</label>
            <div class="col-sm-10">
                <input asp-for="RegNr" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ModelDescription" class="control-label col-sm-2">Modellbeskrivning:</label>
            <div class="col-sm-10">
                <input asp-for="ModelDescription" class="form-control" />
            </div>
        </div>

        @* TODO: drop-down list with years *@
        <div class="form-group">
            <label asp-for="Year" class="control-label col-sm-2">Årsmodell:</label>
            <div class="col-sm-10">
                <select asp-for="Year" class="form-control" id="">
                    @foreach (var year in ViewBag.vehicleYearOptions)
                    {
                        <option>@year</option>
                    }
                </select>
            </div>
        </div>


















        <div class="form-group">
            <label asp-for="Kilometer" class="control-label col-sm-2">Kilometer:</label>
            <div class="col-sm-10">
                <input asp-for="Kilometer" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label col-sm-2">Pris:</label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Body">Karosstyp:</label>
            <div class="col-sm-10"></div>
            <input asp-for="Body" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Color">Färg:</label>
            <div class="col-sm-10"></div>
            <input asp-for="Color" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Gearbox">Växellådstyp:</label>
            <div class="col-sm-10"></div>
            <input asp-for="Gearbox" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Fuel">Bränsletyp:</label>
            <div class="col-sm-10"></div>
            <input asp-for="Fuel" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Horsepower">Hästkrafter:</label>
            <div class="col-sm-10"></div>
            <input asp-for="Horsepower" class="form-control" />
        </div>
        <div class="custom-checkbox">
            <label asp-for="Used">
                <input asp-for="Used" type="checkbox" />
                Begagnad
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Offices">Anläggning</label>
            <input asp-for="Offices" class="form-control" />
        </div>
    </form>
</div>
