@model IEnumerable<Vehicle>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <h4>This is the admin page!</h4>

    <!-- ARNEL: Här ska det finnas en startsida för login med listade bilar! -->

    <div class="pull-right">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Logout" asp-action="Logout" class="btn btn-sm btn-danger">Logga ut</a>
        }
    </div>



    @foreach(var v in ViewBag.getVehicles)
    {
        <p>@v</p>
        
    }



</body>
</html>
